.world {
  /* background: rgba(223, 226, 227, 0.51);
  background-image: radial-gradient(
    rgb(185 185 185 / 37%) 1.45px,
    transparent 0
  );


  background-size: 25px 25px;
  background-position: -33px -33px; */
  /* width: 3000px;
  height: 3000px; */
}

.workspace-inner {
  transform-origin: 0 0;
}
