.nodes-container {
  overflow: auto;
}

.tools-container {
  bottom: 0;
}

.navigator-container {
  right: 0;
  bottom: 0;
}

.test {
  top: 70px;
  left: 300px;
}

.test-2 {
  top: 70px;
  left: 900px;
}
